
html,body,#app{
    height:100%;
    margin:0;
    font-family: Arial, "Microsoft YaHei";
}

.ui.layout{
    display: -webkit-flex;
    flex:none;

    &.layout-rows{
        flex-direction: column;
    }
    $.border{

    }
    &.auto-size{
        flex:1 1 auto;
        width:100%;
        height:100%;
    }
}




